.feature-card {
  box-shadow: 0px 2px 2px 2px rgb(196, 191, 191);
  border: 1px solid gray;
  padding: 10px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  width: 32%;
  background-color: white;
}

.model {
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: bold;
  color: black;
  margin: 0px;
}

.suitable-for {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
  color: black;
  margin: 0px;
  margin-top: 15px;
}

.card-description {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  color: gray;
  margin: 0px;
  margin-top: 15px;
}
